/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: black;
}

button {
	background-color: transparent;
	border: none;
}

input {
	font-family: 'Work Sans', sans-serif;
	outline: none;
}

/** end reset css**/
body {
	max-width: 1400px;
	background-color: #FFFEF8;
	font-family: 'Work Sans';
	font-size: 14px;
	margin: auto;
}

header {
	display: flex;
	max-width: 1140px;
	justify-content: space-between;
	margin: 50px auto;
}

main {
	max-width: 1140px;
	margin: auto;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 800;
	font-family: 'Syne', sans-serif;
	user-select: none;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

p {
	font-family: 'Work Sans', sans-serif;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
}

li a:hover,
li:hover {
	color: #B1663C;
}

#banderolle {
	height: 59px;
	display: flex;
	column-gap: 21px;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	position: relative;
	z-index: 1;
	display: none;
}

#banderolle p {
	font-size: 16px;
}

#banderolle p::before {
	content: "\f044";
	font-weight: 100;
	font-family: "Font Awesome 5 Free";
	margin-right: 10px;
}

#banderolle button {
	font-size: 14px;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	background-color: white;
	border-radius: 60px;
	padding: 11px 23px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction figure img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction figure p {
	margin: 10px 0 0 10%;
	cursor: pointer;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction article p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	display: flex;
	column-gap: 31px;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

#portfolio h2 p {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans', sans-serif;
	cursor: pointer;
	color: black;
}

#introduction figure p::before,
#portfolio h2 p::before {
	content: "\f044";
	font-weight: 100;
	font-family: 'Font Awesome 5 Free';
	margin-right: 8px;
}

#introduction figure p:hover,
#portfolio h2 p:hover {
	opacity: .6;
}

.filters {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	margin-bottom: 35px;
}

.filters button {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne', sans-serif;
	border: solid 1px #1D6154;
	border-radius: 60px;
	padding: 10px 20px;
	color: #1D6154;
	cursor: pointer;
}

.filters :first-child {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 30px;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	width: 180px;
	font-weight: 700;
	font-family: 'Syne';
	text-align: center;
	margin: 2em auto;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
}

.login {
	display: flex;
	flex-direction: column;
}

.login h2{
	margin: 100px auto 7px;
}

.login label{
	margin: 30px calc(50% - 189.5px) 6px;
}

.login input{
	width: 379px;
	height: 51px;
	border: none;
	margin: auto;
	font-size: 24px;
	box-shadow: 0 4px 14px #00000017;
}

.login h3 {
	width: 379px;
	height: 51px;
	display: flex;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	background-color: #ea8888;
	border-radius: 4px;
	color: white;
	margin: 35px auto 0;
	display: none;
}

.login button{
	width: 179px;
	height: 36px;
	border-radius: 23px;
	font-family: 'Syne', sans-serif;
	border: solid 1px #1D6154;
	background-color: #1D6154;
	margin: 37px auto 28px;
	cursor: pointer;
	transition: .3s;
	color: white;
}

.login button:hover {
	background-color: white;
	color: #1D6154;
}

.login a{
	text-decoration: underline;
	text-underline-offset: 2px;
	margin: 0 auto 355px;
	transition: .2s;
}

.login a:hover {
	text-underline-offset: 1px;
	color: #B1663C;
}

.shadow {
	width: 100%;
	height: 100%;
	max-width: 1400px;
	background-color: #00000017;
	position: fixed;
	top: 0;
	display: none;
}

.modale {
	width: 630px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	position: absolute;
	left: calc(50% - 315px);
	top: 601px;
	display: none;
}

.modale span {
	display: flex;
	font-size: 20px;
	justify-content: space-between;
	margin-bottom: 16px;
}

.modale span i {
	transition: .2s;
	cursor: pointer;
}

.modale span i:hover {
	opacity: .6;
}

.modale span .fa-arrow-left {
	position: relative;
}

.modale h2 {
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
}

.modale .divModale {
	width: 420px;
	display: flex;
	padding-bottom: 47px;
	margin: 46px auto 38px;
	border-bottom: solid 1px #B3B3B3;
}

.modale button {
	width: 237px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Syne', sans-serif;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	transition: .2s;
}

.modale .addPicture {
	background-color: #1D6154;
	border: solid 1px #1D6154;
	margin: auto;
}

.modale .addPicture:hover {
	opacity: .6;
	transform: scale(.92);
}

.modale .supGallery {
	width: unset;
	height: unset;
	color: #D65353;
	font-weight: 400;
	margin: 23px auto 18px;
}

.modale .supGallery:hover {
	opacity: .7;
	text-decoration: underline;
}

.pageOne {
	row-gap: 12px;
	flex-wrap: wrap;
	column-gap: 10px;
	align-content: flex-start;
}

.pageTwo {
	flex-direction: column;
}

.divModale figure {
	position: relative;
}

.divModale figure img {
	width: 76px;
	height: 102px;
	object-fit: cover;
}

.divModale figure figcaption {
	font-size: 12px;
}

.divModale input,
.divModale select {
	height: 51px;
	font-size: 24px;
	box-shadow: 0 4px 14px #00000017;
	outline: none;
	border: none;
}

.divModale select {
	font-size: 18px;
}

.divModale label {
	font-weight: 500;
	margin: 21px 0 10px;
}

.divModale .backBlue {
	height: 169px;
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	position: relative;
}

.backBlue .preview,
.backBlue input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.backBlue input {
	opacity: 0;
	cursor: pointer;
}

.backBlue i {
	font-size: 46px;
	color: #B9C5CC;
	margin: 28px auto 21px;
}

.backBlue b {
	width: 173px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	margin: auto;
}

.backBlue p {
	font-size: 10px;
	color: #444444;
	margin: 7px auto 19px;
}

.admin {
	display: none;
}

footer {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: end;
	background-color: #fff;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}